<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Manage Team</title>
</head>

<header>
</header>

<body>
    <div id="background" class="title-card">
        <h1>Insert Team Name Here</h1>
        <hr>
        <table border=1>
            <tr>
                <th>User</th>
                <th>Role</th>
                <th>Contact Info</th>
                <th colspan="2">Actions</th>
            </tr>
            {% for user in userDetails %}
            <tr>
                <!--temp.name, temp.type, temp.contact, temp.uid, Teams.tid, temp.rid -->
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <!--add remove and promote button-->
                <td>
                    <form action="/testbtn" method="post">
                        <button name='submit' type="submit" value="r.{{user[3]}}.{{user[4]}}">Remove</button>
                    </form>
                </td>
                <td>
                    <form action="/testbtn" method="post">
                        <button name='submit' type="submit" value="p.{{user[3]}}.{{user[5]}}">Set admin</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="contents">
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if message %}
        <p class="message"><strong>Message:</strong> {{ message }}</p>
        {% endif %}
    </div>
    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
</body>

<!--
<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
}
</script>
-->
</html>