<!--
Test button generation. No longer being user.
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Button Test</title>
    </head>

    <header></header>

    <body>
        <div id="root"></div>
    </body>
</html>

<!--
<button name='submit' type='submit' value={{ "r".concat(user[0]).concat('.').concat(user[1]) }}>
    Remove
</button>
<button name='submit' type='submit' value={{ "p".concat(user[0]).concat('.').concat(user[1]) }}>
    PromoteToAdmin
</button>
-->
