<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Login Page.</title>
</head>

<header>
</header>

<body>
    <div id="background" class="title-card">
        <h1>Epsilon</h1>
        <hr>
    </div>
    <div class="contents">
        <form action="" method="post">
            <br>
            <input class="btn" type="submit" value="Log out">
        </form>
    </div>
    <div>
        <p>
            Hello World! Welcome to Epsilon!
        </p>
    </div>
</body>

</html>