{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}Manage Job Posting{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="pagewrap">

    <div id="background">
         {% if error == null%}
        <div class="centralButtonContainer">

        <button id="byIdBtn" class="submit">Post A Job! </button>
        </div>
        <script type="text/javascript">
            document.getElementById("byIdBtn").onclick = function () {
            location.href = "/postJob";
            };
        </script>
        {% endif %}
    </div>
    <div class="contents">

        {% if job_postings %}
        <div class="contents table table-hover table-responsive-sm container">
            <div class="align-items-center h-100">
                <table>
                    <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Create Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in job_postings %}
                    <tr>
                        <th> {{ row[0] }} </th>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                        <td>
                            <form action="" method="POST" id="">
                            <!--send the id which is row[4]-->
                            <button class="adjacent-btn positive" type="submit" value="R_{{row[4]}}" name="update_posting_action">{{ row[3] }} </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>

</div>
{% endblock %}
