{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}My Profile{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="pagewrap">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Manage Job Postings</title>
</head>


<body>

    <div class="contents">
        {% if job_postings %}
        <div class="contents table table-hover table-responsive-sm container">
            <div class="align-items-center h-100">
                <table>
                    <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Create Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in job_postings %}
                    <tr>
                        <th> {{ row[0] }} </th>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                        <td>
                            <form action="" method="POST" id="">
                                <button id="byIdBtn" class="adjacent-btn positive" type="submit"
                                        value="{{row[4]}}" name="apply_to_job">Dummy Apply</button>
                                <script type="text/javascript">
                                    document.getElementById("byIdBtn").onclick = function () {
                                    location.href = "/applyToJob/";
                                    //location.href = "/applyToJob/"+document.getElementById('byIdBtn').value;
                                    };
                                </script>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>

    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
</body>


</div>
</html>
{% endblock %}
