{% extends "layout.html" %}
{% block head %}
{{ super() }}
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

input[type="text"] {
     position: relative;
     display: block;
     margin : 0 auto;
}

textarea[type="text"] {
     position: relative;
     display: block;
     margin : 0 auto;
}

 button[type="submit"] {
     position: relative;
     display: block;
     margin : 0 auto;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}Apply To Job{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br>

<div class="pagewrap">
    <div class="contents">
                <h1>Enter your skills</h1>
        <h4>Note: Employers will be able to see your profile after submitting this form</h4>
        <form action="" method="post">
            <br>

            <textarea class="auth" rows="10" cols="40" type="text" name="skills" required></textarea>
            <br>
            <br>


            <button  type="submit" value="apply">Apply</button>
<!--            <input class="btn" type="submit" value="apply">-->
        </form>

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if message %}
        <p class="message"><strong>Message:</strong> {{ message }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}