{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}Manage Job Postings{% endblock %}
{% block content %}<br><br><br><br><br><br><br><br><br>
<div class="pagewrap">
    <div class="contents">
        {% if job_postings %}
        <div class="contents table table-hover table-responsive-sm container">
            <div class="align-items-center h-100">

                <table>
                    <thead class="thead-light">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Create Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in job_postings %}
                    <tr>
                        <th> {{ row[0] }} </th>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                        <td>
                            <button id="byIdBtn_{{row[4]}}" class="adjacent-btn positive" name="apply_to_job">Apply!</button>
                            <script type="text/javascript">
                                    document.getElementById("byIdBtn_"+"{{ row[4] }}").onclick = function () {
                                    location.href = "/applyToJob/"+"{{ row[4] }}";
                                    };
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
