<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Login Page.</title>
</head>

<header>
</header>

<body>
    <div id="background" class="title-card">
        <h1>Epsilon</h1>
        <h2>Login to get started</h2>
        <hr>
    </div>
    <div class="contents">

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        
        <form id="form" action="" method="post">
            <br>
            <input class="auth" type="text" placeholder="Username" name="username" value="{{
                request.form.course }}">
            <br>
            <input class="auth" type="text" placeholder="Password" name="password" value="{{
                request.form.q1 }}">
            <br>
            <br>
            <div class="btn_container" data-value="Login" data-text="Login"/>
        </form>
        
    </div>
    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script type='text/javascript' src="{{ url_for('static', filename='js/btn.js') }}"></script>
</body>

</html>
