<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Fill the details</title>
</head>


<body>
    <div class="contents">

        <form action="" method="post">
            <br>
            <h2 style="display:inline;">title</h2>
            <input class="auth" type="text" name="title" required>
            <br>
             <br>
            <h2 style="display:inline;">description</h2>
            <input class="auth" type="text" name="description" required>
            <br>
            <br>
            <input class="btn" type="submit" value="send">

        </form>

        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if message %}
        <p class="message"><strong>Message:</strong> {{ message }}</p>
        {% endif %}
    </div>

    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
</body>

</div>
</html>

