{% extends "layout.html" %}
{% block head %}
{{ super() }}
    <style>
    input[type="text"] {
         position: relative;
         display: block;
         margin : 0 auto;
    }

    textarea[type="text"] {
         position: relative;
         display: block;
         margin : 0 auto;
    }

     button[type="submit"] {
         position: relative;
         display: block;
         margin : 0 auto;
    }
/* 
<!--.center {-->
<!--  margin: 0;-->
<!--  position: relative;-->
<!--  top: 50%;-->
<!--  left: 45%;-->
<!--  -ms-transform: translate(-50%, -50%);-->
<!--  transform: translate(-50%, -50%);-->
<!--}--> */

</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% endblock %}
{% block title %}Fill in Details{% endblock %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<div class="pagewrap">
    <div class="contents">

        <form action="" method="post">
            <br>
            <h2 style="text-align:center">title</h2>
                <input  class="auth" type="text" name="title" required>
            <br>
             <br>
            <h2 style="text-align:center">description</h2>
            <textarea class="auth" rows="10" cols="40" name="description" type="text" required></textarea>

<!--            <input  style="height:200px;font-size:14pt;" class="auth" type="text" name="description" required>-->
            <br>
            <br>
<!--                      <div class="center">-->
                          <button  type="submit">Post!</button>
<!--                    </div>-->


        </form>





<!--                    <input class="btn" type="submit" value="Post!">-->


        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if message %}
        <p class="message"><strong>Message:</strong> {{ message }}</p>
        {% endif %}
    </div>

</div>

{% endblock %}
