<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

    <title>Search.</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homepage/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/homepage/font-awesome.css">
    <link rel="stylesheet" href="../static/css/homepage/templatemo-softy-pinko.css">

    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div>
        </div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <!--<a href="#" class="logo">
                        <img src="../static/images/logo.png" alt="Epsilon" /> -->
                    <!-- <h1>Epsilon</h1> -->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li>
                            <h2
                                    style="color:#6610f2; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                Epsilon</h2>
                        </li>
                        <li><a href="" class="active">Home</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn"><a href="/previousHome">Your Team</a></button>
                                <div class="dropdown-content">
                                    <a href="/displayteam/1">Display Team</a>
                                    <a href="/jointeamrequest/1">Pending Requests</a>
                                    <a href="/registration">Create New Team</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="/company/1">Your Company</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn"><a href="">Resources</a></button>
                                <div class="dropdown-content">
                                    <a href="">Product Development</a>
                                    <a href="">Accounting and Bookkeeping</a>
                                    <a href="">Legal</a>
                                    <a href="">Marketing</a>
                                    <a href="">Sales and CRM</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="">Startup Market</a></li>
                        <li><a href="">Job Seeking</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/login" style="color:rebeccapurple;">Log In</a></li>
                        <li><a href="/userRegistration" style="color:rebeccapurple;">Sign Up</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Search Page Start ***** -->
<section class="section colored" id="search">
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 10%;">
            <form class="input-group col-md-4" method="post" action="">
                <input class="form-control py-2" type="search" placeholder="Search" name="search"
                       value="{{ request.form.search }}">
                <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">
            <i class="fa fa-search"></i>
        </button>
      </span>
            </form>
        </div>
    </div>

    <div id="search_page"></div>
    <br>
    {% if data %}
        <div id="search-data" class="search-result-box card-box">
        </div>

        <script language="javascript">
            const company_data = JSON.parse('{{ data | safe}}');
            render_data()
        </script>
    {% endif %}
    {% if error %}
        <div id="error-data" class="error-result-box card-box">
        </div>
        <script language="javascript">
            const error = JSON.parse('{{ error | safe}}');
            render_error()
        </script>
    {% endif %}
</section>

<section class="section colored" id="search">
    <br>
</section>
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
            </div>
        </div>
    </div>
</footer>

<section
        style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;">
    <a href="https://mobirise.site/f" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a>
</section>
<script src="../static/assets/web/assets/jquery/jquery.min.js"></script>
<script src="../static/assets/popper/popper.min.js"></script>
<script src="../static/assets/tether/tether.min.js"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/assets/smoothscroll/smooth-scroll.js"></script>
<script src="../static/assets/theme/js/script.js"></script>

<!-- jQuery -->
<script src="../static/js/homepage/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../static/js/homepage/popper.js"></script>
<script src="../static/js/homepage/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../static/js/homepage/scrollreveal.min.js"></script>
<script src="../static/js/homepage/waypoints.min.js"></script>
<script src="../static/js/homepage/jquery.counterup.min.js"></script>
<script src="../static/js/homepage/imgfix.min.js"></script>

<!-- Global Init -->
<script src="../static/js/homepage/custom.js"></script>

<!--just to test if we can embed react script-->
{% block app_content %}
    <!-- We will put our React component inside this div. -->
    <div id="nav_menu_container"></div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="{{ url_for('static', filename='js/homepage/nav_menu.js') }}"></script>
{% endblock %}
</body>
</html>
