{% extends "layout.html" %} <!-- read more on layout.html-->
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block title %}Join Team Request{% endblock %}
{% block content %}
<div class="pagewrap">
    <div class="main">
        <div id="background" class="jumbotron jumbotron-fluid p-3 mb-5 title-card">
            <div class="container">
                <h1>{{company_name}}</h1>
            </div>
        </div>
        <div class="container">
            <div class="align-items-center h-100">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item" id="teamBtn">
                        <a class="nav-link" href="#Team">
                            <h2 class="section-title">Manage Current Team</h2>
                        </a>
                    </li>
                    {% if cur_role != 3 %}
                    <li class="nav-item" id="reqBtn">
                        <a class="nav-link" href="#Team-Applicants">
                            <h2 class="section-title">Manage Applicants</h2>
                        </a>
                    </li>
                    <li class="nav-item" id="linkBtn">
                        <a class="nav-link" href="#Team-Link">
                            <h2 class="section-title">Manage Team Join Code</h2>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
        </div>
        {% if userDetails %}
        <div class="contents table table-hover table-responsive-sm container" id="Team">
            <h3 class="section-title" id="subtitle-h3" style="margin-bottom: 1%;">Current Team</h3>
            <div class="align-items-center h-100">
                <table>
                    <thead class="thead-light">
                        <tr>
                            <th>User</th>
                            <th>Contact Info</th>
                            <th>Role</th>
                            {% if cur_role != 3 %}
                            <th>Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for user in userDetails %}
                    <tr>
                        <th> {{ user[0] }} </th>
                        <td> {{ user[2] }} </td>
                        <td> {{ user[1] }} </td>
                        {% if cur_role != 3 %} <!--current user not member => admin or owner-->
                        <td>
                            {% if current_user.uid != user[3] and user[1] != "Team Owner" %} <!-- current user not themselves or owner-->
                            <form action="" method="POST">
                                <button class="adjacent-btn positive" type="submit" value="P_{{user[3]}}_{{user[4]}}_{{user[5]}}" name="action">Set Admin</button>
                                <button class="adjacent-btn" type="submit" value="R_{{user[3]}}_{{user[4]}}_{{user[5]}}" name="action">Remove</button>
                            </form>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        {% if cur_role != 3 %}
        {% if applicant_details %}
        <hr>
        <div class="contents table table-hover table-responsive-sm container" id="Team-Applicants">
            <h3 class="section-title" id="subtitle-h3" style="margin-bottom: 1%;">Job Applicants</h3>
            <div class="align-items-center h-100">
                <table>
                    <thead class="thead-light">
                        <tr>
                            <th>User</th>
                            <th>Contact Info</th>
                            <th>Posting</th>
                            <th>Application Created</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in applicant_details %}
                    <tr>
                        <th><a href="/applicant/{{row.jap_id}}"> {{ row.user_name }}</a> </th>
                        <td> {{ row.user_contact }} </td>
                        <td> {{ row.jid }} - {{ row.job_title }}</td>
                        <td> {{ row.create_date }}</td>
                        <th> {{ row.jap_status }} </th>
                        <td>
                            {% if current_user.uid != row.uid %}
                            <form action="" method="POST" id="form_{{row.jap_id}}">
                            {% if row.sid == 1 %}
                            <button class="adjacent-btn positive" type="submit" value="I_{{row.jap_id}}_{{tid}}" name="action">Proceed to Interview</button>
                            {% elif row.sid == 2 %}
                            <button class="adjacent-btn positive" type="submit" value="O_{{row.jap_id}}_{{tid}}" name="action">Send Offer</button>
                            {% endif %}
                            {% if row.sid <= 2 %}
                            <button class="adjacent-btn" type="submit" value="D_{{row.jap_id}}_{{tid}}" name="action">Reject</button>
                            {% else %}
                            N/A
                            {% endif %}
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="align-items-center h-100" style="margin-bottom: 3%;">
            {% if applicant_message %}
            <p class="message"><strong>Message:</strong> {{ applicant_message }}</p>
            {% endif %}
        </div>
        {% endif %}
        {% if cur_role != 3 %}
        <hr>
        <div class="container" id="Team-Link">
            <h3 class="section-title" id="subtitle-h3" style="margin-bottom: 1%;">Invite Team Members</h3>
            <div class="align-items-center h-100">
                <table>
                    <tr>
                        {% if code %}
                        <td>
                            <p>Active Code: {{ code }}</p>
                        </td>
                        <td>
                            <button class="adjacent-btn" onclick="copyLink()" name="action">Copy</button>
                        </td>
                        <form action="" method="POST">
                            <td>
                                <button class="adjacent-btn" type="submit" value="G_{{tid}}" name="action">Regenerate</button>
                            </td>
                            <td>
                                <button class="adjacent-btn" type="submit" value="U_{{tid}}" name="action">Deactivate</button>
                            </td>
                        </form>
                        {% else %}
                        <td>
                            <p>No Active Code</p>
                        </td>
                        <td>
                            <button class="adjacent-btn disabled" onclick="copyLink()" disabled name="action">Copy</button>
                        </td>
                        <form action="" method="POST">
                            <td>
                                <button class="adjacent-btn" type="submit" value="G_{{tid}}" name="action">Activate</button>
                            </td>
                            <td>
                                <button class="adjacent-btn disabled" disabled name="action">Deactivate</button>
                            </td>
                        </form>
                        {% endif %}
                    </tr>
                </table>
            </div>
            
        </div>
        {% endif %}
        <div class="container">
            <div class="align-items-center h-100" style="margin-bottom: 3%;">
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            {% if message %}
            <p class="message"><strong>Message:</strong> {{ message }}</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function copyLink() {
        code.select();
        code.setSelectionRange(0,99999);
        document.execCommand("copy");
        alert("Team Code Copied!");
    }
</script>
{% endblock %}