<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>User Registration Page.</title>
</head>

<header>
</header>

<body>
    <div id="background" class="title-card">
        <h1>Epsilon</h1>
        <h2>Create Account</h2>
        <hr>
    </div>
    <div class="contents">
        <form action="" method="post">
            <br>
            <input class="auth" type="text" placeholder="Name" name="name" value="">
            <br>
            <input class="auth" type="text" placeholder="Email" name="username" value="">
            <br>
            <input class="auth" type="text" placeholder="Password" name="password" value="">
            <br>
            <br>
            <input class="auth" type="radio" id="t1" name="type" value=1>
            <label for="t1">Startup User</label><br>
            <input class="auth" type="radio" id="t2" name="type" value=2>
            <label for="t2">Service Provider</label><br>
            <input class="auth" type="radio" id="t3" name="type" value=3>
            <label for="t3">Admin</label><br>
            <br>
            <br>
            <input class="btn" type="submit" value="Create Account">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if msg %}
        <p class="msg"><strong>Message:</strong> {{ msg }}</p>
        {% endif %}
    </div>
    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
</body>

</html>
