<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Manage Team</title>
</head>

<header>
</header>

<body>
    <div id="background" class="title-card">
        <h1>My Profile</h1>
        <hr>
        {% if user_details %}
        <form action="" method="POST">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td>{{user_details[0]}}</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td><label for="description">Description</label> </td>
                    <td>{{user_details[1]}}</td>
                    <td><textarea name="description"></textarea></td>
                </tr>
                <tr>
                    <td><label for="contact">Contact Information</label></td>
                    <td>{{user_details[2]}}</td>
                    <td><input type="email" name="contact"></td>
                </tr>
                <tr>
                    <td><label for="user_type">Startup User or Service Provider</label></td>
                    <td>{{user_details[3]}}</td>
                    <td><input type="text" name="user_type" readonly></td>
                </tr>
            </table>
            <button type="submit" value="update_user">Update Info</button>
        </form>
        {% endif %}
    </div>
    <div class="contents">
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% if message %}
        <p class="message"><strong>Message:</strong> {{ message }}</p>
        {% endif %}
    </div>
    <div class="footer">
        <footer>
            <p>
                Epsilon 2021
            </p>
        </footer>
    </div>
</body>

</html>