@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

button {
    font-size: 13px;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #8261ee;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ff589e;
}

body {
    background: #fff;
    font-family: "Raleway", sans-serif;
}

button.dropbtn {
    text-transform:initial;
    padding-top: 0%;
}